html {
    padding:0;
    border:0;
    box-sizing:border-box;
}

.container {
    width:560px;
    margin: 10px auto;
}

.tile {
    background-color:black;
    opacity: .05;
    float:left;
    outline: 1px solid white;
}


body {
    margin: auto ;
    background: rgb(255, 235, 192);
}


button {
    display: block;
    font-size: 1.2rem;
    background: rgb(193, 141, 252);
    width:560px;
    margin: 5px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    border-radius:2px;
}

p {
    display: block;
    clear: right;
    margin-top: 30px;
    margin: 5px auto;
    text-align: center;
    font-size: 1.2rem;
    width: 600px;
}

.colorcontainer {
    text-align:center;
}
.color {
    margin: 5px auto;
    width: 100px;
    font-size:1.5rem;
    display:inline-block;
    position: center;
}
#green {

    background: green;
}

#blue {
    background: blue;
}

#red {background:red;}
#yellow {background:yellow;}
#orange{background:rgb(255, 136, 0);}
#purple{background:purple};

